.sectionCount {
  background-color: #1e012a;
  padding: 200px;
  border-radius: 10px;
  box-shadow: #8007b7 0 7px 29px 0;
}
  .sectionCount__text {
    font-size: 40px;
    margin: 0;
  }
    .sectionCountBox {
      display: flex;
      margin-top: 20px;
      align-items: center;
      justify-content: space-evenly;
    }
    .sectionCountBox__button {
      padding: 10px 40px;
      background-color: #7b04b6;
      border: 0;
      border-radius: 7px;
      font-size: 20px;
    }
